@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Medium.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Bold.ttf')  format('truetype'), url('../fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

body{
	margin:0;
	padding:0;  
	font-family:  "Helvetica";  
	font-weight: 300;
	font-size: 14px;
	line-height: 1.5;
	color:rgb(0, 0, 0);
	min-width: 360px;
    letter-spacing: 0.015em;
}

.wrapper{
	max-width:1200px;
	margin:0 auto;
	padding:0 40px;
}

header, footer, nav, section, main, article, aside{
    display: block;
}

h1, h2, h3 {
    margin: 0;
}

button, input {
    font-family:  "Helvetica"; 
}

/* header */

.first_screen{
	height:690px;
	display:flex;
	flex-wrap:wrap;
}

header {
    background: #2c682c;
    width: 360px;
    height: 100%; 
    box-sizing: border-box;
    padding: 30px 30px 0 80px;
    position: relative;
}

header .bordered {
	width: 9px;
    height: 100%; 
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 130px;
}

header .menu_block {
    background: #2c682c;
    padding: 30px 0 37px;
    position: relative;
}

header .logo {
    display: inline-block;
    background: url(../img/logo_big.svg) no-repeat;
    width: 110px;
    height: 166px;
}

header .caption {
    font-size: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 33px 0 20px;
}

header .menu {
    display: block;
    padding: 0;
    margin: 0;
}

header .menu li {
    list-style: none;
    position: relative;
}

header .menu a {
    display: inline-block;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 0;
}

header .sub-menu {
    display: none;
    position: static;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0px;
}

header .sub-menu.active {
    display: block;
}

header .sub-menu li a {
    text-decoration: none;
    padding: 10px;
}

/*burger*/
 
.mobile_menu {
	position: absolute;
    width: 40px;
    height: 40px;
    right: 15px;
    top: 20px;
    cursor: pointer;
	display:none;
}

.mobile_menu span, 
.mobile_menu span::before, 
.mobile_menu span::after {
    display: block;
    cursor: pointer; 
    height: 3px;
    width: 30px;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 18px;
    right: 5px;
    transition: all 200ms ease-in-out;
}

.mobile_menu span::before {
    content: '';
    left: 0;
    top: -10px;
}

.mobile_menu span::after {
    content: '';
    left: 0;
    top: 10px;
}

.mobile_menu.active span {
    background-color: transparent;
}
    
.mobile_menu.active span::before  {
    transform: rotate(45deg);
    top: 0;
}

.mobile_menu.active span::after  {
    transform: rotate(-45deg);
    top: 0;
}    

/* slider_screen */

.slider_screen{
	flex:1 1 0;
}

.slider_screen .slider_wr {
    background: #ffffff;
    position: relative; 
    height: 100%;
}

.slider_screen .slide{
	overflow:hidden;
}

.slider_screen  .animation_wr  {
    position: relative;
    height: 440px;
}

.slider_screen  .animation  {
	position: absolute;
    margin: auto; 
    padding: 30px 15px; 
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    opacity: 0;
    -webkit-transition: opacity .5s ease-out 0s;
    transition: opacity .5s ease-out 0s;
}

.slider_screen .animation.active {
    opacity: 1;
}

.slider_screen .slide .animation  svg {
    width: auto;
    height: 100%;
    max-width: 100%;
}

.slider_screen .slide .text_long {
    position: relative;
    width: 500%; 
}

.slider_screen .text {
    width: 20%;
    float: left;
    overflow: hidden;
}

.slider_screen .caption {
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.7px;
	line-height: 1;
}

.slider_screen p {
    display: block;
    font-size: 24px;
    color: rgb(75, 75, 75);
    text-align: center;
    max-width: 550px;
    margin: 18px auto;
    letter-spacing: 1px; 
	line-height: 1.35;
}

.slider_screen .slider_wr .controls {
    position: absolute;
    bottom: 50px;
    right: 0;
    left: 0;
    text-align: center;
}

.slider_screen .point{
	display: inline-block;
	position: relative;
	width:44px;
	height:44px;
    margin: 0 10px;
	vertical-align: middle;
    cursor: pointer;
}

.slider_screen .point:before{
	content:''; 
	position: absolute;
    background-color: rgb(233, 231, 223);
    width: 20px;
    height: 20px;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin:auto;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.slider_screen .point.active:before{
    background-color: #68a468;
    width: 30px;
    height: 30px;
    transform: rotate(45deg); 
} 

/* services_screen */

.services_screen {
    overflow: hidden;
    width: 100%;
}

 .services_screen .service_icons {
    box-sizing: border-box;
    border-top: 1px solid rgb(233, 231, 223);
    border-bottom: 1px solid rgb(233, 231, 223);  
    padding: 38px 0 33px; 
}

.services_screen .services_wr{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px; 
	position:relative;
    cursor: pointer;
}

.services_screen .service_icons .services {
    width: 20%;
    box-sizing: border-box; 
	position:relative;	
    padding: 0 30px;
}

.services_screen .service_icons .services .icon {
    background: url('../img/categories-1.svg') no-repeat center;
	background-size: contain;
	width: 118px;
	height: 88px;
    margin: 0 auto;
	position: relative;
    z-index: 2;
}

.services_screen .service_icons .architecture.services .icon {
    background-image: url('../img/categories-1.svg');
}

.services_screen .service_icons .сonstructions.services .icon {
    background-image: url('../img/categories-2.svg');
}

.services_screen .service_icons .engineering.services .icon {
    background-image: url('../img/categories-3.svg');
}

.services_screen .service_icons .linear.services .icon {
    background-image: url('../img/categories-4.svg');
}

.services_screen .service_icons .related.services .icon {
        background-image: url('../img/categories-5.svg');
}

.services_screen .service_icons .services .text {
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 14px;
}

.services_screen .service_icons .services:after {
    display: none;
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: #ffffff;
    border-right: 1px solid rgb(233, 231, 223);
    border-bottom: 1px solid rgb(233, 231, 223);
    transform: rotate(45deg);
    bottom: -55px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.services_screen .service_icons .services.active:after {
    display: block;
}

.services_screen .viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.services_screen .slider2_wr {
    position: relative;
    width: 500%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.services_screen .slider2_wr .slide {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
	float:left;
    position: relative;
    padding: 65px 0 80px;
}

.services_screen .slider2_wr .slide .description {
    max-width: 455px; 
	padding-top: 10px;
}

.services_screen .slider2_wr h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 2px;
	margin-bottom: 25px;
}

.services_screen .slider2_wr p {
    font-size: 16px;
    color: rgb(88, 88, 88); 
}

.services_screen .slider2_wr ul {
    padding: 0;
    margin: 0;
	margin-top: 35px;
}

.services_screen .slider2_wr ul li {
    display: block;
    margin: 23px 0;
    list-style: none;
}

.services_screen .slider2_wr .links a { 
    font-size: 18px;
    font-weight: 400;
    color: rgb(0, 77, 0);
    text-decoration: none;
    position: relative;
    border-bottom: 1px dashed rgb(0, 77, 0);
    letter-spacing: 0.9px;
}

.button {
    display:inline-block;
    background-color: #2c682c;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    width: 276px;
    height: 61px;
    line-height: 61px;
    font-size: 17px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}

.button:hover{
	background-color:#3f863f;
}

.services_screen .slider2_wr .slide .demo{
    flex: 1 1 0;
    position: relative;
    background: url(../img/house.svg) no-repeat center top;
    background-size: contain;
    height: 510px; 
	margin-left:15px;
}

.services_screen .slider2_wr .slide.architecture .demo{
	background-image: url(../img/service-1.png);
}

.services_screen .slider2_wr .slide.сonstructions .demo{
	background-image: url(../img/service-2.png);
}

.services_screen .slider2_wr .slide.linear .demo{
	background-image: url(../img/service-4.png);
}

.services_screen .slider2_wr .slide.related .demo{
	background-image: url(../img/service-5.png);
}

.services_screen .slider2_wr .slide.engineering .demo{
	height:620px;
}
 
.services_screen .slider2_wr .slide .demo .lines_wr{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.services_screen .slider2_wr .slide .demo .lines_wr svg{
	height:100%;
	width:100%;
}

.services_screen .slider2_wr .demo .lines_wr .lines {
    display: none;
}

.services_screen .slider2_wr .demo .lines_wr .lines.active {
    display: block;
}

/* portfolio_screen */

.portfolio_screen{
	overflow: hidden;
} 

.portfolio_screen_wr {
    height: 760px;
    margin: 0 -10px;
	display: flex;
}

.portfolio_screen .column{
    height: 100%;
    width: 39.8%;
    display: flex;
	flex-wrap: wrap;
}

.portfolio_screen .category{
    padding: 10px;
    display: flex;
	text-decoration:none;
	width:100%;
}

.portfolio_screen .category:hover{ 
	opacity:0.8;
}

.portfolio_screen .column.second_block {
    height: 100%;
    flex:1 1 0;
}

.portfolio_screen .low_block {
    height: 42%;
} 

.portfolio_screen .height_block {
    height: 55%;
} 

.portfolio_screen .photo { 
	background: #ddd no-repeat center;
	background-size:cover;
    height: 100%;
    width: 52%;
}

.portfolio_screen .name{
	flex:1 1 0;
    background: #2c682c;
    padding: 55px 45px;
    box-sizing: border-box; 	
    color: #fff;
}


.portfolio_screen .name.beige{
    background: #e9e7df;
	color:#000;
}

.portfolio_screen h3{ 
    font-size: 19px;
    font-weight: 400; 
}

.portfolio_screen .category div:first-child{
    border-right: 2px solid #ffffff;
}

.portfolio_screen .second_block .category div:first-child{
	border-right: none;
}

.portfolio_screen .second_block .name { 
    border-bottom: 2px solid #ffffff; 
    height:30%; 
}

.portfolio_screen .second_block .photo {
    height: 70%; 
	width:100%;
} 

.portfolio_screen .second_block .category{
    flex-direction: column;    
	height: 100%;
}
 
.portfolio_screen .administrative .photo{
	background-image: url(../img/project-1.jpg); 
} 

.portfolio_screen .educational .photo{
	background-image: url(../img/project-2.jpg); 
} 

.portfolio_screen .houses .photo{
	background-image: url(../img/project-3-1.jpg); 
} 

.portfolio_screen .business .photo{
	background-image: url(../img/project-4.jpg); 
} 

.portfolio_screen .industrial .photo{
	background-image: url(../img/project-5.jpg); 
} 


/* clients_screen */

.clients_screen {
    padding: 78px 0;
}

.clients_screen .caption {
    font-size: 32px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    letter-spacing: 1.5px;
    margin-bottom: 5px;
}

.clients_screen .clients {
	 display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    justify-content: space-between;
}

.clients_screen .clients .client_wr {
    width: 16.6666%;
    padding: 36px 20px;
    box-sizing: border-box;
    margin: auto 0; 
}

.clients_screen .clients .client { 
    height: 85px;
	background: url(../img/partner-1.jpg) no-repeat center;
	background-size: contain;
}


.clients_screen .clients .client.one{
	background-image: url(../img/partner-1.jpg);
}

.clients_screen .clients .client.two {
	background-image: url(../img/partner-2.jpg);
}

.clients_screen .clients .client.three {
	background-image: url(../img/partner-3.jpg);
}

.clients_screen .clients .client.four {
	background-image: url(../img/partner-4.jpg);
}

.clients_screen .clients .client.five {
	background-image: url(../img/partner-5.jpg);
}

.clients_screen .clients .client.six {
	background-image: url(../img/partner-6.jpg);
}

.clients_screen .clients .client.seven {
	background-image: url(../img/partner-7.jpg);
}

.clients_screen .clients .client.eight {
	background-image: url(../img/partner-8.jpg);
}

.clients_screen .clients .client.nine {
	background-image: url(../img/partner-9.jpg);
}

.clients_screen .clients .client.ten {
	background-image: url(../img/partner-10.jpg);
}

.clients_screen .clients .client.eleven {
	background-image: url(../img/partner-11.jpg);
}

.clients_screen .clients .client.twelve {
	background-image: url(../img/partner-12.jpg);
}

/* footer */

footer .contacts_screen_wr { 
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    overflow: hidden;
}

footer .contacts {
    width: 365px;
    background: #2c682c;
    padding: 45px 30px 45px 80px;
    box-sizing: border-box;
}

footer .contacts .logo {
    display: inline-block;
    background: url(../img/logo_small.svg) no-repeat;
    width: 66px;
    height: 83px;
}

footer .contacts .contact {
    display: block;
    font-size: 17px;                   
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 18px 0;
}

footer .contacts .social_icons {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 45px;
}

footer .contacts .social_icons .icon {
    background: url(../img/sprites.svg) -994px -127px;
	width: 50px;
	height: 50px;
    border: 1px solid rgb(255, 255, 255);
    margin-right: 8px;
    cursor: pointer;
}

footer .contacts .social_icons .icon:hover{
	background-color:rgba(255,255,255,0.2);
}

footer .contacts .social_icons .icon.vk {
    background-position: -1052px -127px;
}

footer .contacts .social_icons .icon.insta {
    background-position: -1113px -127px;
}

footer .form {
    box-sizing: border-box;
    background: #e9e7df;
    width: 410px;
    padding: 50px 40px;
}

footer .form .caption {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

footer .form .after_caption  {
    font-size: 17px;
    text-align: center;
    margin: 10px 0 15px;
}

footer .form .wpcf7-form-control-wrap {
    display: block;
    margin: 15px 0;
}

footer .form .wpcf7-form-control-wrap.button_wr {
    margin: 21px 0 0;
}

footer .form .wpcf7-form-control-wrap .wpcf7-form-control {
    display: block;
    box-sizing: border-box;
    border: 1px solid rgb(198, 198, 198);
    height: 54px;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    outline: none;
    padding: 10px 20px;
}

footer .form input:not([type=submit]):focus {
	border: 1px solid #2c682c;
}

footer .form .button {
    width: 100%;
    margin: 0;
}

footer .map {
    font-size: 0;
    flex-grow: 1;
}

footer .map iframe {
    width: 100%;
    height: 100%;
}

footer .bottom_line {
    background: #131f13;
    padding: 16px 0 16px 55px;
    color: rgb(152, 149, 135);534
}

footer .bottom_line {
    display: flex;
}

footer .bottom_line a {
    color: rgb(152, 149, 135);
    padding-left: 30px;
}

/* projects page */

/* projects page header */

.projects_header {
    width: 100%;
    padding: 0;
}

.projects_header .flex {
    display: flex;
    flex-wrap: wrap;
}   

.projects_header .flex.wrapper {
    justify-content: space-between;
}

.projects_header .logo {
    display: inline-block;
    background: url(../img/logo_small.svg) no-repeat;
    background-size: 47px;
    width: 48px;
    height: 60px;
    margin: 10px 25px 10px 0;
}

.projects_header .caption {
    font-size: 14px;
    font-weight: 400;
    margin: auto 0;
}

.projects_header .navbar {
    margin: auto 0;
}

.projects_header .navbar {
    position: relative;
}

.projects_header .navbar .menu {
    display: flex;
    flex-wrap: wrap;
}

.projects_header .navbar a {
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    letter-spacing: 0.5px;
    padding: 30px 0 30px 24px;
}

.projects_header .sub-menu {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 79px;
    left: 15px;
}

.projects_header .sub-menu li {
    background: #2c682c;
    padding: 10px;
    margin: 2px 0;
}

.projects_header .sub-menu li a {
    text-align: left;
    padding: 0;
}

.projects_header .sub-menu.active {
    display: none;
}

.projects_header .navbar li:hover .sub-menu {
    display: block;
}

/* projects page header */

.projects_screen .flex {
    display: flex;
    flex-wrap: nowrap;
    margin: 20px 0 60px;
}

.projects_screen h1 {
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin: 55px 0;
}

.projects_screen .projects {
    margin-bottom: 90px;
}

.projects_screen .projects:last-child {
    margin-bottom: 120px;
}

.projects_screen .projects .project_category {
    background: #e9e7df;
    padding: 35px 0;
}


.projects_screen .projects .project_category .wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.projects_screen .project_category .icon {
    background: url(../img/sprites.svg) no-repeat;
    background-position: -8px -216px;
	width: 97px;
	height: 74px;
    margin: auto 20px auto 0;
}

.projects_screen .business .project_category .icon {
    background-position: -146px -216px;
	width: 99px;
	height: 73px;
}

.projects_screen .shops .project_category .icon {
    background-position: -272px -216px;
	width: 98px;
	height: 74px;
}

.projects_screen .public .project_category .icon {
    background-position: -398px -216px;
	width: 98px;
	height: 74px;
}

.projects_screen .cottages .project_category .icon {
    background-position: -524px -216px;
	width: 98px;
	height: 74px;
}

.projects_screen .project_category .caption {
    font-weight: 400;
    text-transform: uppercase;
    max-width: 350px;
    line-height: 1.7;
    margin: auto 0;
    flex: 1;
}

.projects_screen .project:nth-child(2n+1) {
    flex-direction: row-reverse;
}

.projects_screen .project .text {
    width: 50%;
    max-width: 600px;
    padding: 47px 0 47px 43px;
    letter-spacing: 1px;
}

.projects_screen .project .text h2 {
    font-size: 30px;
    font-weight: 500;
}

.projects_screen .project .text .year {
    font-size: 16px;
    font-weight: 400;
    margin: 7px 0 23px;
}

.projects_screen .project .text p {
    font-size: 16px;
    color: rgb(88, 88, 88);
}

.projects_screen .project .text a {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: rgb(44, 104, 44);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0 10px 43px;
    margin: 25px 33px 0 0;
    float: left;
    position: relative;
}

.projects_screen .project .text .video {
    padding: 10px 0 10px 49px;
}

.projects_screen .project .text .download::before {
    content: "";
    background: url(../img/sprites.svg) no-repeat -7px -333px;
	width: 32px;
	height: 38px;
    position: absolute;
    left: 0;
    top: 0;
}

.projects_screen .project .text .video::before {
    content: "";
    background: url(../img/sprites.svg) no-repeat -62px -336px;
	width: 38px;
	height: 31px;
    position: absolute;
    left: 0;
    top: 4px;
}

.projects_screen .project .project2 .text {
    padding: 47px 0;
    margin: 0 0 0 auto;
}


/*-----media------*/


@media screen and (max-width: 1500px) {
	
	.portfolio_screen .name {
		padding: 45px 35px;
	}
	
	.portfolio_screen h3{
		font-size:17px;
	}
}

@media screen and (max-width: 1366px) {}


@media screen and (max-width: 1279px) {

	.wrapper { 
		padding: 0 15px;
	}
	
	.first_screen{
		height: auto;
	}

	header{
		width: 100%; 
		padding: 0;
	}
	
	header .bordered{
		display:none;
	}
	
	header .menu_block{
		background: none; 
		padding: 0;
	}
	
	header .logo{
		background: url(../img/logo_small.svg) no-repeat;
		background-size: auto 100%;
		width: 50px;
		height: 60px;
		margin: 10px 20px 10px 15px;
		vertical-align: middle;
	}
	
	header .caption{
		font-size: 14px;
		margin: 0;
		display: inline-block;
		vertical-align: middle;
		font-weight: normal;
	}
	
	header .menu{
		background: #ededed;
		padding: 30px 0;
		display:none;
	} 
	
	header .menu a { 
		font-size: 14px;
		color: rgb(44, 104, 44);  
		padding: 17px 15px;
		text-align: center;
		display: block;
	}
	
	header .menu ul{
		background: #fff;
		padding: 20px 0;
	}
	
	header .menu ul a{
		font-size: 13px;
		padding: 11px 15px;
		display: block;
	}
	
	.mobile_menu{
		display:block;
	}
	
	.slider_screen{
		flex:auto;
	}
	
	.slider_screen .slider_wr{
		height: auto;
	}
	
	.slider_screen .slider_wr .controls{
		position:static;
		padding: 25px 0 55px;
	}
	
	.services_screen .service_icons{
		padding: 28px 0 23px;
	}
	
	.services_screen .service_icons .services .text{
		font-size:13px;
	}
	
	.services_screen .service_icons .services:after{
		bottom: -45px;
	}
	
	.services_screen .slider2_wr .slide .description {
		max-width: 355px;
		padding:0;
	}
	
	.services_screen .slider2_wr .slide{
		padding: 55px 0 60px;
	}
	
	.services_screen .slider2_wr h2 {
		font-size: 28px;
		margin-bottom:20px;
	}
	
	.services_screen .slider2_wr ul{
		margin-top: 30px;
	}
	
	.services_screen .slider2_wr ul li{
		margin: 20px 0;
	}
	
	.services_screen .slider2_wr .links a{
		font-size: 15px;
	}
	
	.services_screen .slider2_wr p{
		font-size: 15px;  
	}
	
	.services_screen .slider2_wr .slide .demo{
		height: auto;
		background-position: center;
	}
	
	.portfolio_screen_wr {
		height: auto;
		flex-wrap: wrap;
	} 
	
	.portfolio_screen .category {
		box-sizing: border-box;
	}
	
	.portfolio_screen .column {
		height: auto;
		flex-wrap: nowrap;
		width:100%;
	}
	
	.portfolio_screen .column .category{
		width:50%;
		height:320px;
	}
	
	.portfolio_screen .column.second_block .category{
		width:100%;
		flex-direction: row;
		height:320px;
	}
	
	.portfolio_screen .second_block .category div:first-child{
		border-bottom:none;
		border-right:2px solid #fff; 
	}
	
	.portfolio_screen .second_block .photo{
		width:74.2%;
	}
	
	.portfolio_screen .second_block .name,
	.portfolio_screen .second_block .photo{
		height:100%;
	}	 
	
	.portfolio_screen .houses .photo{
		background-image: url(../img/project-3-2.jpg); 
	} 
	
	.clients_screen .clients{
		justify-content: unset;
		margin:0 -15px;
	}

	.clients_screen .clients .client_wr {
		width: 20%;
	}	
	
	footer .contacts {
		width: 260px;
		padding: 45px 30px 45px 15px;
	}
	
	footer .form { 
		width: 340px;
		padding: 50px 30px;
	}
	
	footer .form .caption {
		font-size: 22px;
	}
	
	footer .bottom_line{
		padding: 16px 15px;
	}
	
	footer .form .after_caption {
		font-size: 15px;
	}
    
    .projects_screen .flex {
        flex-wrap: wrap;
    }
    
    .projects_screen .project .text {
        width: 100%;
        max-width: 1200px;
        padding: 47px 15px;
    }
    
    .projects_screen .project .project2 .text {
        padding: 47px 15px;
    }
}

@media screen and (max-width: 1023px) {
	
	.services_screen .services_wr{
		margin: 0 -8px;
	}
	
	.services_screen .service_icons .services{
		padding: 0 8px;
	}
	
	.services_screen .service_icons .services .icon{
		width: 80px;
		height: 60px;
	} 
	
	.services_screen .service_icons .services .text{
		font-size:12px;
	}
	
	.services_screen .slider2_wr .slide{
		flex-direction: column-reverse;
	}
	
	.services_screen .slider2_wr .slide .demo{
		max-width: 600px;
		margin: 0 auto;
		width: 100%;
		flex: auto;
		height: 390px;
	}
	
	.services_screen .slider2_wr .slide .description { 
		max-width: 620px;
		width: 100%;
		text-align: center;
		margin: 30px auto 0;
	}
	
	.portfolio_screen .column{
		flex-wrap: wrap;
	}
	
	.portfolio_screen .column.first_block{
		flex-direction: column-reverse;
	}
	
	.portfolio_screen .column .category{
		width:100%;
	} 
	
	.portfolio_screen h3{
		font-size:15px;
	} 
	
	.portfolio_screen .photo{
		flex:1;
	}
	 	
	.portfolio_screen .name {
		padding: 35px 20px;
		max-width: 200px;
	}
	
	.clients_screen .clients .client {
		height: 65px;
	}
	
	.clients_screen .clients .client_wr {
		width: 25%;
	}
	
	footer .contacts{
		flex: 1 1 0;
	}
	
	footer .map{
		display:none;
	}
}

@media screen and (max-width: 767px) {
	
	.first_screen {
		padding-bottom: 30px;
	}
	
	.slider_screen .animation_wr{
		height: 300px;
	}
	
	.slider_screen .caption{
		font-size: 28px;
	}
		
	.slider_screen p{ 
		font-size: 18px; 
		margin: 16px auto; 
		max-width: 420px;
		line-height: 1.35;
	}
	
	.slider_screen .slider_wr .controls{
		display:none;
	}
	
	.services_screen .service_icons {
		padding: 15px 0 15px;
	}
	
	.services_screen .service_icons .services {
		padding: 8px;
	}
	
	.services_screen .service_icons .services.active{
		border: 1px solid #2c682c;
	}
	
	.services_screen .service_icons .services .text{
		display:none;
	}
	
	.services_screen .service_icons .services .icon{
		width: 50px;
		height: 40px;
	}
	 
	.services_screen .service_icons .services:after{
		width: 20px;
		height: 20px;
		bottom: -27px;
	}	
}


@media screen and (max-width: 639px) {

	.slider_screen .animation_wr {
		height: 225px;
	}
	
	.services_screen .slider2_wr .slide .demo,
	.services_screen .slider2_wr .slide.engineering .demo{
		height: 250px;
	}
	
	.services_screen .slider2_wr .slide {
		padding: 35px 0 60px;
	}

	.clients_screen .clients .client_wr {
		width: 50%;
	} 
	
	footer .contacts_screen_wr{
		flex-direction: column-reverse;
	}
	
	footer .form{
		width:100%;
		padding: 50px 15px;
	}
	
	footer .contacts{
		width:100%;
	}
}

/** BXSLIDER
===================================*/
/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
    position: relative;
    padding: 0;
    width: 50%;
    max-width: 675px;
    *zoom: 1;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.bx-wrapper img {
  width: 100%;
  display: block;
}

.bxslider {
  margin: 0;
  padding: 0;
}
ul.bxslider {
  list-style: none;
}
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}
/** THEME
===================================*/

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 15px;
  width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url('images/bx_loader.gif') center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #ffffff;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url('images/controls.png') no-repeat 0 -32px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url('images/controls.png') no-repeat -43px -32px;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url('images/controls.png') -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url('images/controls.png') -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: center;
    position: absolute;
    bottom: 15px;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

@media screen and (max-width: 1279px) {
    .bx-wrapper {
        width: 100%;
    }
}













